body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling */
}

.container {
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 100vh; /* Set the height to cover the entire viewport */
}

.loaded .content {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #ff6b81, #ee0979);
  z-index: -1;
}

.content {
  opacity: 0;
}

.title {
  font-size: 2.5rem;
  color: #fff; /* Adjusted title color to white */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart-icon {
  font-size: 24px;
  color: #ff6b81;
  animation: floatHeart 5s infinite ease-in-out;
}

.heart-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.heart-animation {
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: 100vh; /* Make the background full page */
  overflow: hidden;
}

.heart {
  width: 20px;
  height: 20px;
  background-color: #ff6b81;
  position: absolute;
  border-radius: 50%;
  animation: float 5s infinite ease-in-out;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.heart:nth-child(2) {
  left: 10%;
  animation-delay: 1s;
}

.heart:nth-child(3) {
  left: 20%;
  animation-delay: 2s;
}

.heart:nth-child(4) {
  left: 30%;
  animation-delay: 3s;
}

.heart:nth-child(5) {
  left: 40%;
  animation-delay: 4s;
}

.heart:nth-child(6) {
  left: 50%;
  animation-delay: 0.5s;
}

.heart:nth-child(7) {
  left: 60%;
  animation-delay: 1.5s;
}

.heart:nth-child(8) {
  left: 70%;
  animation-delay: 2.5s;
}

.heart:nth-child(9) {
  left: 80%;
  animation-delay: 3.5s;
}

.heart:nth-child(10) {
  left: 90%;
  animation-delay: 4.5s;
}

.love-letter {
  max-width: 600px;
  margin: 20px auto;
  font-size: 1.2rem;
  line-height: 1.6;
  padding: 20px;
  border: 2px solid #ff6b81;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: pulse 2s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes floatHeart {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
